{% extends "base.html" %}

{% block content %}

<h5>{{ notification.title}}</h5>
<p>{{ notification.message }}</p>
<p><a href="/notification/delete/{{ notification.id}}/">Mark as read</a></p>

{% endblock %}