{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<script src="{% static "assets/js/ajax.js" %}"></script>
	<script src="{% static "assets/js/script.js" %}"></script>

	<link type="text/css" rel="stylesheet" href="{% static "assets/css/style.css" %}"/>

</head>
<body>
	<div class="container">
		{% if user.is_staff %}

<p class="user_status_level">You are logged in as an administrator</p>

{% else %}

<p class="user_status_level">You are logged in as a standard user</p>


{% endif %}
		<div class="logo">
			<img src="{% static "assets/imgs/logo.png" %}"/>
			<img src="{% static "assets/imgs/logo_faculty.png" %}"/>
		</div><!-- end logo -->
		<header>

			<h1>Learning & Teaching</h1>


			{% block nav %}
			
			<nav>

				<ul>
					<li><a href="/staff_requests/all_requests/">All Requests</a></li>
					<li><a href="/staff_requests/submit_request/">Submit a request</a></li>



				</ul>
			</nav>


		






			{% endblock %}

			<header>

				{% if messages %}
				<ul class="messages">
					{% for message in messages %}

					<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>

					{% endfor%}

				</ul>

				<script>
				setTimeout(function() {
					$('.messages').fadeOut('slow');
				}, 1000);
				</script>

				{% endif %}

				{% block content %}


				{% endblock %}

				{% block footer %}
	<nav id="footer">

				<ul>

					<li><a href="/accounts/logout">Logout</a></li>
					<li><a href="/accounts/login">Login</a></li>
					<li><a href="/accounts/register">Register</a></li>

					
					<li><a href="/admin">Admin</a></li>

				</ul>
			</nav>

				{% endblock  %}
			</div><!-- end container -->
			</body>



			</html>