{% extends "base.html" %}
{% load form_utils %}


{% block content %}

<div class="form_intro">
<h4>Submit a change to the curriculum</h4>
<p>Marfa tattooed keffiyeh, quis roof party twee readymade organic nesciunt master cleanse cliche typewriter Williamsburg seitan. Fixie sriracha placeat direct trade. Blog ullamco cred odio, hoodie gentrify delectus laborum sapiente consequat yr do. Fap actually stumptown small batch, ugh distillery brunch Pinterest keytar art party Tumblr before they sold out lomo. Magna asymmetrical cliche sunt hoodie pop-up. Authentic Schlitz PBR&B, minim adipisicing sunt cupidatat  </p>
</div>

<form action="/staff_requests/create_unit_change/" method="post">{% csrf_token %}

{{ form | render}}

<input type="submit" value="Submit request">
</form>

{% endblock %}