{% extends "base.html" %}
{% load static %}



{% block content %}



<section class="request_detail">




<div class="pdf_icon">
<a href="/staff_requests/request_pdf"><img src="{% static "assets/imgs/pdf_icon.png" %}"/></a>
</div>

{% if request.request_type == 'TT' %}
<h4>Request for change to the Timetable</h4>
{% elif request.request_type == 'ICC' %}
<h4>Request for ICC</h4>
{% elif request.request_type == 'DC' %}
<h4>Request for DC</h4>
{% endif %}




<label>Date request submitted </label>
<div>{{ request.date_submitted}}</div>

<br>
<label>Request submitted by: </label>
<div> {{ request.submitted_by.first_name }} {{ request.submitted_by.last_name }}</div><br>



<label>Where is this request at right now?</label>

{% if request.current_level == 1 %}
 <div>It just arrived in the Science Centre. We are looking into it</div>
{% elif request.current_level == 2 %}
<div>Its been sent to the Unit Convenor ({{ request.current_handler.first_name }} {{request.current_handler.last_name }}) for action</div>
{% elif request.current_level == 3 %}
<div>A decision has been made and it has been returned to Student Centre for processing</div>
{% endif %}
<br><br>


<label>Has a decision been made about this request?</label>
{% if request.approval_status == 0 %}
 <div>Not yet</div>
{% elif request.approval_status == 1 %}
<div>Its been approved by {{ request.current_handler.first_name }} {{request.current_handler.last_name }}</div>
{% elif request.approval_status == 2 %}
<div>It wasn't approved</div>
{% elif request.approval_status == 3 %}
<div>This one is pending further information. Check out the notes below</div>
{% endif %}
<br><br>


{% if user.is_staff %}
<h4>Change the status of this request </h4>


<form action="/staff_requests/request_tt/{{ request.id }}/" method="post">{% csrf_token %}
	{{ current_level_form}}
	<input type="submit" name="submit" value="Change Level">
</form>



{% endif %}


<h4>Submit decison about this request </h4>




<form action = "/staff_requests/request_tt/{{ request.id }}/" method="post">{% csrf_token %}

{{ approval_status_form }}
<input type="submit" name="submit" value="Submit Decision"/>

</form>


<h4>Add a note to this request</h4>

<form action="/staff_requests/request_tt/{{ request.id }}/" method="post">{% csrf_token %}


<p>{{ note_form.as_p}}</p>


<input type="submit" name="submit" value="Add Note"/>

</form>


<h4>Request History</h4>

{% for c in notes %}


<p>Added by: {{ c.user_adding_note.first_name }} {{ c.user_adding_note.last_name }}</p>
<p>Added on: {{ c.date_comment_added }}</p>
<p>Note: {{ c.note_text }}</p>

{% if user.is_staff %}

<p><a href="/staff_requests/delete_note/{{ c.id }}/">Delete</a>
<br><hr><br>

{% endif %}

{% endfor %}


</section>
{% endblock %}
