{% extends "base.html" %}



{% block nav %}

			<nav>

				<ul>
					<li><a href="/staff_requests/all_requests/">All Requests</a></li>
					<li><a href="/staff_requests/submit_request/">Submit a request</a></li>
					{%csrf_token %}
					<li><input type="text" id="search" placeholder="search"/></li>


				</ul>
			</nav>
{% endblock %}



{% block content %}

<p id="search-results">

</p>





{% endblock %}