{% extends "base.html" %}
{% load static %}


{% block content %}


	<ul class="submit_request">
				<li><a href="/staff_requests/create_tt/">Make a timetable Change</a><img src="{% static "assets/imgs/timetable.png" %}"/></li>
				<li><a href="#">Report a breach of academic honesty</a></li>
				<li><a href="#">Submit Individual Student Case</a></li>
				<li><a href="/staff_requests/create_unit_change/">Make a Curriculum Change</a></li>
				<li><a href="/staff_requests/create_unit_change/">Put something on the agenda</a></li>

				<li><a href="/staff_requests/create_unit_change/">Make a Curriculum Change</a></li>
				<li><a href="#">Introducew new curriculum</a></li>
								<li><a href="/staff_requests/create_tt/">Make a timetable Change</a><img src="{% static "assets/imgs/timetable.png" %}"/></li>
				<li><a href="#">Report a breach of academic honesty</a></li>
				<li><a href="#">Submit Individual Student Case</a></li>
				<li><a href="/staff_requests/create_unit_change/">Make a Curriculum Change</a></li>
				<li><a href="/staff_requests/create_unit_change/">Put something on the agenda</a></li>

				<li><a href="/staff_requests/create_unit_change/">Make a Curriculum Change</a></li>
				<li><a href="#">Introducew new curriculum</a></li>
								<li><a href="/staff_requests/create_tt/">Make a timetable Change</a><img src="{% static "assets/imgs/timetable.png" %}"/></li>
				<li><a href="#">Report a breach of academic honesty</a></li>
				<li><a href="#">Submit Individual Student Case</a></li>
				<li><a href="/staff_requests/create_unit_change/">Make a Curriculum Change</a></li>
				<li><a href="/staff_requests/create_unit_change/">Put something on the agenda</a></li>

				<li><a href="/staff_requests/create_unit_change/">Make a Curriculum Change</a></li>
				<li><a href="#">Introducew new curriculum</a></li>
			
			</ul>




{% endblock %}